<h1 id="center1">About Us</h1>

<h5><strong>Subscription Environment</strong></h5>
<p>
	Nowadays everything is moving more and more into a subscription economy. We are undergoing a shift where goods and services deliver more benefits to both businesses and consumers when sold through a subscription process. The business can maintain steady business, save on forecasting costs, and ultimately pass that on to the consumer. While this is a win-win it is often a hassle to keep track of all your subscriptions, this is where we come in!
</p>
</br>

<h5><strong>What We Do</strong></h5>
<p>
	Here at Subscribr we try to make maintaining track of your current subscriptions a pinch while giving you a great way to explore more subscriptions. It is often a daunting task to keep track of multiple subscriptions and having to update them for address / card changes, we have changed all that. By signing up with us and registering your subscriptions you can easily manage them from one place. Some of the features we offer are as follows:
</p>
</br>
<ul>
	<li>Update address to all subscriptions</li>
	<li>Manage forms of payment</li>
	<li>Easily subscribe or unsubscribe</li>
	<li>Browse unique subscriptions</li>
</ul>
</br>
<h5><strong>Mission</strong></h5>
<p>
	Our mission here at Subscribr is to provide the most intuitive solutions to the subscription industry and it consumers. We strive for simplicity and efficiency since we know that managing bills are enough of a hassle. 
</p>
</br>